In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Bring in the eBid

In [2]:
ebid = pd.read_csv('../data/ebid.csv')

Show eBid data

In [3]:
ebid.head(2)

,Auction Title,Item_Type,Auction ID,Department,Budget_Dept,Close Date,Winning Bid,CC Fee,Fee Percent,Auction Fee Subtotal,...,Asset #,Inventory ID,Decal /Vehicle ID,VTR Number,Receipt Number,Cap,Expenses,Net Sales,Fund,Business Unit
0,Dell Laptop w/Bag,Computer,79519,ITS,IT,11/26/2013,78.51,1.81,0.23,18.05,...,NaN,74576,NaN,NaN,3603198592,3000,0.0,60.45,General Fund,0
1,21 Dell Optiplex 760 Computers,Computer,79530,ITS,IT,11/26/2013,451.51,10.38,0.23,103.84,...,NaN,"75160, 75144, 75143, 75165, 75149, 75167, 7514...",NaN,NaN,3604173051,3000,0.0,347.66,General Fund,0

Keep only necessary columns

In [4]:
ebid = ebid[['Auction Title','Item_Type','Auction ID','Budget_Dept','Close Date','Winning Bid','CC Fee','Fee Percent','Auction Fee Subtotal','Expenses','Net Sales']]

In [5]:
ebid.head(2)

,Auction Title,Item_Type,Auction ID,Budget_Dept,Close Date,Winning Bid,CC Fee,Fee Percent,Auction Fee Subtotal,Expenses,Net Sales
0,Dell Laptop w/Bag,Computer,79519,IT,11/26/2013,78.51,1.81,0.23,18.05,0.0,60.45
1,21 Dell Optiplex 760 Computers,Computer,79530,IT,11/26/2013,451.51,10.38,0.23,103.84,0.0,347.66

In [6]:
ebid['Net Sales'].max()

7420000.0

Initiate a categorical breakdown by item category.

In [7]:
category_breakdown = ebid.groupby(["Item_Type"]).sum().sort_values("Net Sales", ascending=False)
category_breakdown.drop(['Auction ID'], axis=1, inplace=True)
category_breakdown

,Winning Bid,CC Fee,Auction Fee Subtotal,Expenses,Net Sales
Item_Type,,,,,
Land,30759652.30,0.00,922789.57,16969.0,30507407.65
Car,9547967.55,40741.35,2167049.49,95689.5,7521087.70
Computer,566740.24,8443.97,130349.42,0.0,436389.24
Electronics,514936.62,7179.70,118435.19,0.0,396501.51
Furniture,326693.55,5921.32,75137.60,0.0,251553.46
Clothing / Shoes,284226.03,3587.67,65371.92,75.0,220770.22
Appliance,237940.76,3756.14,54726.00,395.0,182819.38
Parts,235542.93,3024.81,54174.75,600.0,181521.04
Misc,196968.93,2554.31,45302.53,925.0,150741.19
Tools,185646.40,2673.58,42698.30,310.0,146330.72
Outdoors,173081.95,1471.05,39808.72,290.0,132983.15
Music,82716.25,383.76,19024.73,0.0,73298.96
Household,90326.04,1489.75,20774.72,2130.0,68406.48
Office Supplies,70721.04,1376.83,16265.63,0.0,54455.35
Kitchen Items,66993.77,979.42,15408.40,0.0,51585.11
Cart,54434.95,598.57,9000.12,135.0,45377.67
Printer,49341.20,986.71,11348.79,0.0,37993.20
Monitor,22420.61,443.22,5156.60,0.0,17263.68
Bicycle,18652.64,334.45,4290.00,1395.0,12978.54
Accessories,7638.08,168.73,1756.64,0.0,5881.34
Weapon,2360.03,52.95,542.80,0.0,1817.23
Golf,1681.22,34.56,386.68,0.0,1294.55

Show the average net sales for all of eBid sales for all time.

In [21]:
eb_avgnetsales = round(ebid['Net Sales'].mean(), 2)
eb_avgwinningbid = round(ebid['Winning Bid'].mean(), 2)
print(f"The average winning bid was {eb_avgwinningbid} with the average net profit as {eb_avgnetsales}.")

The average winning bid was 1057.13 with the average net profit as 984.41.

Show number of total lots from eBid

In [10]:
ebid['Auction Title'].count()

41146

Show total net sales for all time

In [11]:
ebid['Net Sales'].sum()

40498457.370000005

Show the total amount of auction fees

In [14]:
ebid['Auction Fee Subtotal'].sum()

3819798.6

Overall info about eBid

In [24]:
ebid_desc = ebid.describe()
ebid_desc

,Auction ID,Winning Bid,CC Fee,Auction Fee Subtotal,Expenses,Net Sales
count,41146.000000,4.114600e+04,36949.000000,41146.000000,15888.000000,4.114000e+04
mean,101430.275701,1.057130e+03,2.333023,92.835236,7.484485,9.844059e+02
std,12315.753588,6.337177e+04,13.316911,1939.438334,133.305337,6.300828e+04
min,79519.000000,1.000000e+00,0.000000,0.230000,0.000000,-5.475600e+02
25%,90797.250000,1.100000e+01,0.120000,2.530000,0.000000,8.470000e+00
50%,101550.500000,3.200000e+01,0.510000,7.360000,0.000000,2.464000e+01
75%,112438.750000,7.600000e+01,1.220000,17.480000,0.000000,5.814000e+01
max,122942.000000,7.450000e+06,1122.400000,223500.000000,16269.000000,7.420000e+06

In [27]:
ebid_desc.join("")

,Auction ID,Winning Bid,CC Fee,Auction Fee Subtotal,Expenses,Net Sales
count,41146.000000,4.114600e+04,36949.000000,41146.000000,15888.000000,4.114000e+04
mean,101430.275701,1.057130e+03,2.333023,92.835236,7.484485,9.844059e+02
std,12315.753588,6.337177e+04,13.316911,1939.438334,133.305337,6.300828e+04
min,79519.000000,1.000000e+00,0.000000,0.230000,0.000000,-5.475600e+02
25%,90797.250000,1.100000e+01,0.120000,2.530000,0.000000,8.470000e+00
50%,101550.500000,3.200000e+01,0.510000,7.360000,0.000000,2.464000e+01
75%,112438.750000,7.600000e+01,1.220000,17.480000,0.000000,5.814000e+01
max,122942.000000,7.450000e+06,1122.400000,223500.000000,16269.000000,7.420000e+06