In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt

Bring in the eBid

In [2]:
ebid = pd.read_csv('../data/ebid.csv')

Show eBid data

In [3]:
ebid.head(2)

,Auction Title,Item_Type,Auction ID,Department,Budget_Dept,Close Date,Winning Bid,CC Fee,Fee Percent,Auction Fee Subtotal,...,Asset #,Inventory ID,Decal /Vehicle ID,VTR Number,Receipt Number,Cap,Expenses,Net Sales,Fund,Business Unit
0,Dell Laptop w/Bag,Computer,79519,ITS,IT,11/26/2013,78.51,1.81,0.23,18.05,...,NaN,74576,NaN,NaN,3603198592,3000,0.0,60.45,General Fund,0
1,21 Dell Optiplex 760 Computers,Computer,79530,ITS,IT,11/26/2013,451.51,10.38,0.23,103.84,...,NaN,"75160, 75144, 75143, 75165, 75149, 75167, 7514...",NaN,NaN,3604173051,3000,0.0,347.66,General Fund,0

Keep only necessary columns

In [4]:
ebid = ebid[['Auction Title','Item_Type','Auction ID','Budget_Dept','Close Date','Winning Bid','CC Fee','Fee Percent','Auction Fee Subtotal','Expenses','Net Sales']]
ebid['Close Date'] = pd.to_datetime(ebid['Close Date'])

In [5]:
ebid.head(2)

,Auction Title,Item_Type,Auction ID,Budget_Dept,Close Date,Winning Bid,CC Fee,Fee Percent,Auction Fee Subtotal,Expenses,Net Sales
0,Dell Laptop w/Bag,Computer,79519,IT,2013-11-26,78.51,1.81,0.23,18.05,0.0,60.45
1,21 Dell Optiplex 760 Computers,Computer,79530,IT,2013-11-26,451.51,10.38,0.23,103.84,0.0,347.66

In [6]:
ebid['Net Sales'].max()

7420000.0

Initiate a categorical breakdown by item category.

In [7]:
category_breakdown = ebid.groupby(["Item_Type"]).sum().sort_values("Net Sales", ascending=False)
category_breakdown.drop(['Auction ID'], axis=1, inplace=True)
category_breakdown

,Winning Bid,CC Fee,Auction Fee Subtotal,Expenses,Net Sales
Item_Type,,,,,
Land,30759652.30,0.00,922789.57,16969.0,30507407.65
Car,9547967.55,40741.35,2167049.49,95689.5,7521087.70
Computer,566740.24,8443.97,130349.42,0.0,436389.24
Electronics,514936.62,7179.70,118435.19,0.0,396501.51
Furniture,326693.55,5921.32,75137.60,0.0,251553.46
Clothing / Shoes,284226.03,3587.67,65371.92,75.0,220770.22
Appliance,237940.76,3756.14,54726.00,395.0,182819.38
Parts,235542.93,3024.81,54174.75,600.0,181521.04
Misc,196968.93,2554.31,45302.53,925.0,150741.19
Tools,185646.40,2673.58,42698.30,310.0,146330.72
Outdoors,173081.95,1471.05,39808.72,290.0,132983.15
Music,82716.25,383.76,19024.73,0.0,73298.96
Household,90326.04,1489.75,20774.72,2130.0,68406.48
Office Supplies,70721.04,1376.83,16265.63,0.0,54455.35
Kitchen Items,66993.77,979.42,15408.40,0.0,51585.11
Cart,54434.95,598.57,9000.12,135.0,45377.67
Printer,49341.20,986.71,11348.79,0.0,37993.20
Monitor,22420.61,443.22,5156.60,0.0,17263.68
Bicycle,18652.64,334.45,4290.00,1395.0,12978.54
Accessories,7638.08,168.73,1756.64,0.0,5881.34
Weapon,2360.03,52.95,542.80,0.0,1817.23
Golf,1681.22,34.56,386.68,0.0,1294.55

Show the average net sales for all of eBid sales for all time.

In [8]:
eb_avgnetsales = round(ebid['Net Sales'].mean(), 2)
eb_avgwinningbid = round(ebid['Winning Bid'].mean(), 2)
print(f"The average winning bid was {eb_avgwinningbid} with the average net profit as {eb_avgnetsales}.")

The average winning bid was 1057.13 with the average net profit as 984.41.

Show number of total lots from eBid

In [9]:
ebid['Auction Title'].count()

41146

Show total net sales for all time

In [10]:
ebid['Net Sales'].sum()

40498457.370000005

Show the total amount of auction fees

In [11]:
ebid['Auction Fee Subtotal'].sum()

3819798.6

Overall info about eBid

In [12]:
ebid_desc = ebid.describe()
ebid_desc

,Auction ID,Winning Bid,CC Fee,Auction Fee Subtotal,Expenses,Net Sales
count,41146.000000,4.114600e+04,36949.000000,41146.000000,15888.000000,4.114000e+04
mean,101430.275701,1.057130e+03,2.333023,92.835236,7.484485,9.844059e+02
std,12315.753588,6.337177e+04,13.316911,1939.438334,133.305337,6.300828e+04
min,79519.000000,1.000000e+00,0.000000,0.230000,0.000000,-5.475600e+02
25%,90797.250000,1.100000e+01,0.120000,2.530000,0.000000,8.470000e+00
50%,101550.500000,3.200000e+01,0.510000,7.360000,0.000000,2.464000e+01
75%,112438.750000,7.600000e+01,1.220000,17.480000,0.000000,5.814000e+01
max,122942.000000,7.450000e+06,1122.400000,223500.000000,16269.000000,7.420000e+06

Bring in budget

In [13]:
budget = pd.read_csv('../data/Metro_Budget_to_Actual_Expenses__FY2010_-_Present_.csv')
budget

C:\Users\16153\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (30,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Department Description,Business Unit Description,Object Account Description,Dept Match,2010 Budgeted,2010 Actual,2011 Budgeted,2011 Actual,2012 Budgeted,2012 Actual,...,2019 Budgeted,2019 Actual,2020 Budgeted,2020 Actual,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Department Description.1,Dept Matchup
0,Administrative,ADM County Retire Match,Transfer Guaranteed Pension,Misc,3501900.0,3501900.00,3501900.0,3501900.00,3501900.0,3501900.00,...,3501900.0,3501900.00,3501900.0,3501900.00,NaN,NaN,NaN,NaN,Administrative,Misc
1,Administrative,ADM Cnty Teach Retire Match,Transfer Guaranteed Pension,Misc,6900400.0,6900400.00,6900400.0,6900400.00,6900400.0,6900400.00,...,6900400.0,6900400.00,6900400.0,6900400.00,NaN,NaN,NaN,NaN,Metropolitan Council,Leadership
2,Administrative,ADM Health Insurance Match,Employer Group Health,Misc,28309600.0,29163668.82,31105800.0,33822850.04,37124000.0,37237663.96,...,51244600.0,51147253.42,53391800.0,51619782.62,NaN,NaN,NaN,NaN,Metropolitan Clerk,Leadership
3,Administrative,ADM Health Insurance Match,Employer Dental Group,Misc,1823200.0,1831153.10,1926500.0,2012292.17,2172500.0,2205577.01,...,2986400.0,3045002.14,3063700.0,3128416.49,NaN,NaN,NaN,NaN,Mayor's Office,Leadership
4,Administrative,ADM Death Benefit Payments,Transfer Operational,Misc,200000.0,200000.00,200000.0,200000.00,200000.0,200000.00,...,200000.0,200000.00,200000.0,200000.00,NaN,NaN,NaN,NaN,Election Commission,Leadership
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30009,MNPS,MNPS Project 98,Other Special Pay,Education,188500.0,189991.22,185000.0,82822.03,65000.0,71986.41,...,113000.0,90881.36,113000.0,62071.90,NaN,NaN,NaN,NaN,NaN,NaN
30010,MNPS,MNPS Project 98,Security Services,Education,0.0,0.00,0.0,0.00,0.0,0.00,...,0.0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
30011,MNPS,MNPS Project 98,Janitorial Srvc,Education,0.0,0.00,0.0,18748.50,10000.0,48625.75,...,75000.0,104935.78,129400.0,158672.50,NaN,NaN,NaN,NaN,NaN,NaN
30012,MNPS,MNPS Project 98,Bus Service,Education,5000.0,0.00,5000.0,0.00,10000.0,0.00,...,0.0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN
30013,MNPS,MNPS Project 98,Bad Debt Expense,Education,0.0,0.00,0.0,0.00,0.0,11667.00,...,0.0,0.00,0.0,0.00,NaN,NaN,NaN,NaN,NaN,NaN

Describe basics about the budget per year

In [14]:
budget.describe()

,2010 Budgeted,2010 Actual,2011 Budgeted,2011 Actual,2012 Budgeted,2012 Actual,2013 Budgeted,2013 Actual,2014 Budgeted,2014 Actual,...,2018 Budgeted,2018 Actual,2019 Budgeted,2019 Actual,2020 Budgeted,2020 Actual,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
count,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,...,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,3.001400e+04,0.0,0.0,0.0,0.0
mean,5.331805e+04,5.947083e+04,5.285780e+04,6.343166e+04,5.526367e+04,6.767961e+04,5.849558e+04,7.182243e+04,6.137324e+04,6.030253e+04,...,7.625510e+04,7.408692e+04,7.656846e+04,7.520500e+04,8.045041e+04,7.675342e+04,NaN,NaN,NaN,NaN
std,7.511063e+05,1.068739e+06,6.577743e+05,1.410321e+06,6.864122e+05,1.713563e+06,7.418520e+05,1.812616e+06,8.309166e+05,8.252874e+05,...,1.242751e+06,1.205115e+06,1.322833e+06,1.296399e+06,1.449095e+06,1.320019e+06,NaN,NaN,NaN,NaN
min,-4.627935e+05,-5.957021e+06,-7.000000e+05,-2.974007e+06,-1.004000e+05,-6.944092e+05,-4.172000e+05,-2.527669e+05,-1.043800e+06,-4.820481e+04,...,-1.478538e+07,-6.664450e+05,-1.834056e+07,-7.086459e+05,-1.312614e+07,-1.199331e+05,NaN,NaN,NaN,NaN
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN
75%,1.100000e+03,2.114178e+03,1.800000e+03,2.803505e+03,1.900000e+03,2.785260e+03,1.500000e+03,2.500000e+03,2.000000e+03,2.777342e+03,...,2.400000e+03,3.312325e+03,2.500000e+03,3.477265e+03,2.300000e+03,3.605715e+03,NaN,NaN,NaN,NaN
max,7.587860e+07,1.036613e+08,4.581910e+07,1.647911e+08,4.583350e+07,2.484499e+08,4.989620e+07,2.350336e+08,5.211470e+07,6.039919e+07,...,1.123892e+08,1.133472e+08,1.305525e+08,1.295796e+08,1.379929e+08,1.344181e+08,NaN,NaN,NaN,NaN

In [15]:
budget['2013 Actual'].sum()

2155678536.68

In [16]:
ebid_2013 = ebid[ebid['Close Date'].dt.year == 2013]
ebid_2013

,Auction Title,Item_Type,Auction ID,Budget_Dept,Close Date,Winning Bid,CC Fee,Fee Percent,Auction Fee Subtotal,Expenses,Net Sales
0,Dell Laptop w/Bag,Computer,79519,IT,2013-11-26,78.51,1.81,0.23,18.05,0.0,60.45
1,21 Dell Optiplex 760 Computers,Computer,79530,IT,2013-11-26,451.51,10.38,0.23,103.84,0.0,347.66
2,"4 Asanti 24"" Chrome Rims",Parts,79539,Police,2013-11-27,2000.00,0.00,0.23,460.00,0.0,1540.00
3,10Kt Yellow Gold Rope Chain,Clothing / Shoes,79577,Police,2013-12-04,815.00,0.00,0.23,187.45,0.0,627.55
4,Men's Diamond Watch,Clothing / Shoes,79589,Police,2013-12-11,460.00,10.58,0.23,105.80,0.0,354.20
5,Coach Purse,Accessories,79618,Police,2013-12-02,29.00,0.67,0.23,6.67,0.0,22.33
6,1994 Pontiac Firebird,Car,79630,Police,2013-12-05,568.00,0.00,0.23,130.64,105.0,332.36
7,Wheel Chair Lift,Furniture,79662,Education,2013-12-04,158.99,3.66,0.23,36.56,0.0,122.42
8,1 Pallet of Assorted Tires,Parts,79667,Education,2013-12-04,106.00,2.44,0.23,24.38,0.0,81.62
9,3 Catalytic Converters,Parts,79706,Transportation,2013-12-05,125.01,0.00,0.23,28.75,0.0,96.25
10,Ladies Sunglasses,Clothing / Shoes,79730,Police,2013-12-10,77.00,1.77,0.23,17.71,0.0,59.29
11,Ladies Sunglasses,Clothing / Shoes,79733,Police,2013-12-11,62.00,0.00,0.23,14.26,0.0,47.74
12,Ladies Sunglasses,Clothing / Shoes,79736,Police,2013-12-16,145.00,0.00,0.23,33.35,0.0,111.65
13,Ladies Sunglasses,Clothing / Shoes,79737,Police,2013-12-17,29.00,0.00,0.23,6.67,0.0,22.33
14,Ladies Sunglasses,Clothing / Shoes,79743,Police,2013-12-18,80.00,0.00,0.23,18.40,0.0,61.60
15,4 Air Tanks,Parts,79744,Police,2013-12-11,28.00,0.64,0.23,6.44,0.0,21.56
16,Sunglasses,Clothing / Shoes,79745,Police,2013-12-18,258.00,0.00,0.23,59.34,0.0,198.66
17,Southbend Fryer,Appliance,79759,Education,2013-12-11,258.00,0.00,0.23,59.34,0.0,198.66
18,Desk,Furniture,79762,Community,2013-12-11,8.00,0.18,0.23,1.84,0.0,6.16
19,3 File Cabinets,Furniture,79765,Court,2013-12-12,33.11,0.76,0.23,7.61,0.0,25.49
20,2 Care Play Easels,Household,79792,Misc,2013-12-16,65.00,1.50,0.23,14.95,0.0,50.05
21,Hammond Organ w/Bench,Music,79799,Misc,2013-12-16,62.78,1.44,0.23,14.43,0.0,48.34
22,"3 Sony 20"" Televisions",Electronics,79800,Misc,2013-12-16,2.00,0.05,0.23,0.46,0.0,1.54
23,"Dell 17"" Flat Screen Monitor",Monitor,79824,Police,2013-12-16,27.00,0.00,0.23,6.21,0.0,20.79
24,Clear Modem,Misc,79846,Police,2013-12-17,16.00,0.37,0.23,3.68,0.0,12.32
25,7 Stereo Headsets for iPhone,Electronics,79847,Police,2013-12-17,36.00,0.83,0.23,8.28,0.0,27.72
26,11 Apple Dock Connectors to USB,Electronics,79848,Police,2013-12-17,25.00,0.58,0.23,5.75,0.0,19.25
27,11 Apple Dock Connectors to USB,Electronics,79849,Police,2013-12-17,38.00,0.00,0.23,8.74,0.0,29.26
28,5 USB 2.0 Dock Connectors to USB for iPhone,Electronics,79850,Police,2013-12-17,17.00,0.39,0.23,3.91,0.0,13.09
29,8 Dock Connectors to USB for iPhone,Electronics,79851,Police,2013-12-17,20.56,0.47,0.23,4.72,0.0,15.83
30,8 Dock Connectors to USB for iPhone,Electronics,79852,Police,2013-12-17,20.51,0.47,0.23,4.71,0.0,15.79
31,9 Cell Phone Batteries,Electronics,79859,Police,2013-12-17,24.00,0.55,0.23,5.52,0.0,18.48
32,13 Cube Stereo Hands Free Adaptors,Electronics,79860,Police,2013-12-17,22.01,0.51,0.23,5.06,0.0,16.94
33,2 Gevey Sim Cards,Electronics,79865,Police,2013-12-17,4.50,0.10,0.23,1.03,0.0,3.46
34,Sharp Cash Register w/Pin Identifier Unit,Appliance,79866,Police,2013-12-17,20.01,0.46,0.23,4.60,0.0,15.40
35,Dell Laptop,Computer,79874,IT,2013-12-18,75.00,1.72,0.23,17.25,0.0,57.75
36,Dell Laptop,Computer,79876,IT,2013-12-18,73.00,1.68,0.23,16.79,0.0,56.21
37,Dell Laptop,Computer,79881,IT,2013-12-18,65.00,1.50,0.23,14.95,0.0,50.05
38,Dell Computer System,Computer,79883,IT,2013-12-18,73.51,0.00,0.23,16.90,0.0,56.60
39,Dell Computer System,Computer,79885,IT,2013-12-18,63.51,0.00,0.23,14.60,0.0,48.90
40,8 Chairs,Furniture,79895,Community,2013-12-18,84.05,0.00,0.23,19.33,0.0,64.71
41,7 Rugs,Household,79900,Community,2013-12-18,155.00,3.56,0.23,35.65,0.0,119.35
42,1974 Cadillac Eldorado Convertible,Car,79910,Police,2013-12-17,410.00,9.43,0.23,94.30,95.0,220.70